@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "../node_modules/heroui-native/lib";

:root {
	--font-display:
		Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol, Noto Color Emoji;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
		Courier New, monospace;
	--font-rounded:
		"SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo, "MS PGothic",
		sans-serif;
	--font-serif: Georgia, "Times New Roman", serif;
}

@theme {
	/* Primitive Colors (Do not change between light and dark) */
	--white: oklch(100% 0 0);
	--black: oklch(0% 0 0);
	--snow: oklch(0.9911 0 0);
	--eclipse: oklch(0.2103 0.0059 285.89);
	/* Border */
	--border-width: 1px;
	--field-border-width: 0px;
	/* Base radius */
	--radius: 0.2rem;
	--field-radius: calc(var(--radius) * 1.5);
	/* Opacity */
	--opacity-disabled: 0.5;
}
